<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,700' rel='stylesheet' type='text/css'>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css'>
	
	<script src="/js/messagesclient.js"></script>
	<script src="/js/main.js"></script>
	<% if(game){ %>
		<script src="/js/game.js"></script>
	<% } %>
  </head>
  <body>